export(DKLcvtree)
export(DKLdfr)
export(DKLlk)
export(EnDKLcvtree)
export(EnDKLdfr)
export(EnDKLlk)
export(CtoNall)
export(f0)
export(RECINV)
export(DistSeqkl)
export(fn)
export(plotden)
export(plotdencir)
export(kldi)
export(hc0)
export(f0)
export(diffkl)
export(CtoN)

import(seqinr)
import(MASS)
import(stats)
import(ape)